<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
   <div class="wrapper">
        <h1>RONALD'S MARKETING SERVICES</h1>
        <p>An organized and creative professional with proven marketing skills and a desire to learn more. Possess 4+ years of experience working for a diverse group of organizations and clients. Gained expertise in data analysis, publication marketing, and web-based advertising.
        </p>


        <a href="/index">
            <button id="home-btn">Let Send Some text</button>
        </a>
   </div>

   <script src="/js/bundle.js"></script>
</body>
</html>